body{
    background-color: pink; 
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div {
    color: black;
    font-weight: bolder;
}

button {
    background-color:red; 
    color: white; 
    border-color:red; 
    font-size: x-large;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 85px;
    padding: 0 10%;
    align-items: center;
}
.nav-home {
    display: flex;
    gap: 55px;
    align-items: center;  
}

.nav-search {
    display: flex;
    gap: 0px;
    align-items: center;
}

.header {
    color: purple;
}

.h1-header {
    color: blue;
}

.t1-teks {
    color: grey;
}

.foot {
    display: flex;
    background-color: white;
    padding: 0 10%;
    align-items: center;
}

.gambr {
    align: "right";
}